<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div id ="result"></div>
</body>
	<script>
		$(document).ready(()=>{
			$.ajax({
				url:'/doneTodo',
				method:'POST',
				data:{authorization:'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiZmlyc3ROYW1lIjoibXJpZHVsIiwibGFzdE5hbWUiOiJjaG9wcmEiLCJlbWFpbCI6Im1yaWR1bGNob3ByYTk3QGdtYWlsLmNvbSIsImlhdCI6MTU5MDQ2OTI1OH0.iNw1bS-8Dj8uEf4qAiCkOX7DeqZTYywndlYu_rBjpjc' , 
			todo:'Hello world'},
				success:(result)=>{
					console.log(result);
				}
			});
		});
	</script>
</html>